#subscribeContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

#subscribeForm {
    display: grid;
    width: 30rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr .2fr .5fr .5fr;
    position: absolute;
    justify-content: center;
    align-self: center;
    padding: 0 6rem;
    border: 1px solid #000;
    border-radius: 2rem;
    background: linear-gradient(to left, rgb(240, 239, 239),rgb(216, 214, 214));
}

.form-heading {
    grid-column: 1 / span 3;
    grid-row: 1;
    padding-top: 1.25rem;
}
.form-desc {
    grid-column: 1 / span 3;
    grid-row: 2;
    margin-top: -.5rem;
    padding-bottom: 1rem;
}

#emailInput {
    margin: .5rem;
    padding-left: 1rem;
    grid-column: 1/ span 2;
    grid-row: 3;
    border: 1px solid #000;
    border-radius: 2rem;
}


.submit-btn {
    grid-column: 3;
    grid-row: 3;
    margin: .5rem;
    background: linear-gradient(to bottom left, rgb(200, 105, 255),rgb(170, 105, 255),rgb(105, 145, 255));
    justify-self: center;
    width: 8rem;
    border: 1px solid rgb(124, 0, 207);
    outline: none;
    border-radius: 2rem;
    font-weight: 600;
    /* margin-top: 1rem; */
}


#subscribeBox {
    justify-self: left;
    align-self: left;
    grid-column: 1 / span 3;
    grid-row: 3;
    padding: 1rem .25rem 0 .25rem;
}